---
import Title from "../../components/Title.astro";
import FaqItem from "../../components/FaqItem.astro";
import Layout from "../../layouts/Layout.astro";
import ServiceItem from "../../components/ServiceItem.astro";

const response = await fetch(import.meta.env.HYGRAPH_ENDPOINT, {
  method: "POST",
  headers: {
    "Content-Type": "application/json",
    Accept: "application/json",
  },
  body: JSON.stringify({
    query: `
        {
          websites {
            title
            slug
          }
        }
      `,
  }),
});
const websites = await response.json();
---

<Layout
  title="Website Types | Avidu"
  description="Selecting the right website type is a strategic decision that can
        significantly impact the success of your business or personal project."
  image="https://res.cloudinary.com/avidu/image/upload/v1696913589/E-commerce_store_design_by_avidu_sampath_bk3vnx.webp"
>
  <main>
    <section class="top">
      <h1>Which type?</h1>
      <p class="p-lg">
        Selecting the right website type is a strategic decision that can
        significantly impact the success of your business or personal project.
        <br />
        <br />
         It involves considering your goals, audience, budget, and long-term
        plans to ensure your website effectively serves its purpose and
        contributes to your overall objectives.
      </p>
    </section>

    <!-- service items -->
    <section class="services">
      <ul>
        {
          websites.data.websites.map((website) => (
            <li>
              <ServiceItem slug={website.slug} text={website.title} />
            </li>
          ))
        }
      </ul>
    </section>

    <!-- faqs -->
    <section class="faqs">
      <Title big="faqs" small="What others asks" />
      <p class="p-lg">
        Here's what others ask about services I provide. Also, you can ask any
        question by contacting me.
      </p>
      <FaqItem
        number={1}
        question="What information do you need from me to get started?"
        answer="I'll need information about your business, your goals for the website, content (text, images), and any specific design preferences or features you want to include."
      />
      <FaqItem
        number={2}
        question="What's the difference between custom website creation and using a pre-made template?"
        answer="Custom website creation offers unique designs and features tailored to your needs, while templates are pre-designed and less customizable."
      />
      <FaqItem
        number={3}
        question="Will you provide ongoing website maintenance and support after the website is live?"
        answer="Yes, I offer maintenance and support plans to ensure your website stays up-to-date, secure, and performs optimally."
      />
    </section>
  </main>
</Layout>

<style>
  /* top */
  .top {
    min-height: 100vh;
    background-color: var(--orange);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  ul {
    padding-top: 3rem;
  }

  h1 {
    padding-bottom: 1rem;
  }

  .faqs p {
    padding-bottom: 3rem;
  }
</style>
