---
import Title from "../../components/Title.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Contact Me | Avidu">
  <main>
    <section class="p1">
      <h1>Reach Me</h1>
      <p class="p-lg">
        Hooray, you have reached the point! in the below contact form; add
        everything you want to do with your business or idea. business and what
        kind of website you needs and what features you need.
      </p>
    </section>

    <!-- form -->
    <section class="p1">
      <form
        method="POST"
        action="https://formsubmit.co/hi@avidu.me"
        enctype="multipart/form-data"
      >
        <!-- customer information -->
        <Title big="You" small="" />
        <p>Tell me about you and how can i get back to you.</p>
        <!-- first name -->
        <label for="name"
          >First Name
          <input type="text" name="name" id="name" required />
        </label>

        <!-- email -->
        <label for="email"
          >Email
          <input type="email" name="email" required />
        </label>

        <!-- phone -->
        <label for="phone"
          >Phone
          <input type="tel" name="phone" id="phone" />
        </label>

        <!-- website information -->
        <Title big="What you want" small="" />
        <p>Tell me about you and how can i get back to you.</p>

        <!-- website type -->
        <fieldset>
          <legend>Which website type?</legend>

          <label for="type">
            <input type="radio" name="type" id="type" value="ecommerce" />
             E-commerce Website
          </label>

          <label for="type">
            <input type="radio" name="type" id="type" value="business" />
             Business Website
          </label>

          <label for="type">
            <input type="radio" name="type" id="type" value="personal" />
             Personal Website
          </label>

          <label for="type">
            <input type="radio" name="type" id="type" value="blog" />
             Blog Website
          </label>
        </fieldset>

        <!-- how many pages -->
        <label for="pages"
          >How many pages?
          <input type="number" name="pages" id="pages" min="1" max="10" />
        </label>

        <!-- what features -->
        <label for="features"
          >Features
          <textarea name="features" id="features" cols="30" rows="5"></textarea>
        </label>

        <!-- reference sites -->
        <label for="reference"
          >Website You May Like
          <input type="text" name="reference" id="reference" />
        </label>

        <!-- file upload -->
        <label for="attachment"
          >Anything?
          <input type="file" name="attachment" accept="image/png, image/jpeg" />
        </label>

        <!-- options -->
        <input type="hidden" name="_captcha" value="false" />
        <input
          type="hidden"
          name="_next"
          value="https://avidu.vercel.app/message-sent"
        />
        <input type="hidden" name="_subject" value="New submission!" />

        <button type="submit">Send Test</button>
      </form>
    </section>

    <!-- divider -->
    <hr />

    <!-- other contact details -->
    <section class="p1 other_contact">
      <!-- details container -->
      <div class="details_container">
        <address>
          Santhanagama,
          <br />
           Kumbukgete,
          <br />
           Sri Lanka,
          <br />
           60508.
        </address>

        <ul>
          <li>
            <a href="http://">LinkedIn &#129125;</a>
          </li>

          <li>
            <a href="http://">Instagram &#129125;</a>
          </li>

          <li>
            <a href="http://">Behance &#129125;</a>
          </li>
        </ul>
      </div>

      <!-- email -->
      <a href="mailto:hi@avidu.me">
        <h2>hi@avidu.me</h2>
      </a>

      <!-- phone number -->
      <a href="tel:+94767578127">
        <h2>+9476 75 78 127</h2>
      </a>

      <!-- chat links -->
      <ul class="bottom_links">
        <!-- whatsapp -->
        <li>
          <a aria-label="Chat on WhatsApp" href="https://wa.me/+94767578127">
            WhatsApp
          </a>
        </li>
        <!-- telegram -->
        <li>
          <a aria-label="Chat on Telegram" href="https://t.me/avidu97">
            Telegram</a
          >
        </li>
        <!-- slack -->
      </ul>
    </section>
  </main>

  <style>
    form {
      display: flex;
      flex-direction: column;
    }

    .form_group {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }

    fieldset {
      display: flex;
      flex-direction: column;
    }

    .details_container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 80%;
    }

    .other_contact {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .other_contact h2 {
      text-align: center;
    }

    .bottom_links {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }

    .bottom_links li {
      padding: 0.5rem;
    }
  </style>
</Layout>
