---
import Layout from "../../../layouts/Layout.astro";

export async function getStaticPaths() {
  const response = await fetch(import.meta.env.HYGRAPH_ENDPOINT, {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
      Accept: "application/json",
    },
    body: JSON.stringify({
      query: `
        {
          works {
            title
            slug
            mainImage {
              url
              width
              height
            }
          }
        }
      `,
    }),
  });

  
  const works = await response.json();
  const paths = works.data.works.map((work) => ({
    params: {
      slug: work.slug,
    },
    props: {
      work,
    },
  }));

  return paths;
}

const work = Astro.props.work;
---

<Layout title={work.title}>
  <main>
    <section class="p1 top">
      <h1>{work.title}</h1>
    </section>

    <section class="p1"></section>
  </main>
</Layout>
