---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<a href="/projects">projects</a>
	</main>
</Layout>

<style>
	
</style>
