---

---

<header>
  <nav class="p1">
    <a href="/">/Avidu</a>
    <ul>
      <li>
        <a href="/website-design">Which</a>
      </li>

      <li>
        <a href="/projects">Works</a>
      </li>

      <li>
        <a href="/about-me">Me</a>
      </li>

      <li>
        <a href="/contact-me">Contact</a>
      </li>
    </ul>
  </nav>
</header>

<style>
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  ul {
    display: flex;
    flex-direction: row;
  }

  li {
    padding: 0 0 0 0.5rem;
  }
</style>
