---

---

<header>
  <nav class="p1">
    <a href="/" class="blend">/Avidu</a>
    <div>
      <li>
        <a href="/website-design" class="blend">Which,</a>
      </li>

      <li>
        <a href="/projects" class="blend">Works,</a>
      </li>

      <li>
        <a href="/about-me" class="blend">Me,</a>
      </li>

      <li>
        <a href="/contact-me" class="blend">Contact</a>
      </li>
    </div>
  </nav>
</header>

<style>
  header {
    position: fixed;
    top: 0;
    min-width: 100%;
    margin: 0 auto;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  div {
    display: flex;
    flex-direction: row;
  }

  li {
    padding: 0 0 0 0.5rem;
  }

  .blend {
    color: black;
    mix-blend-mode: difference;
  }
</style>
