---
import ProjectCard from "../../components/ProjectCard.astro";
import Layout from "../../layouts/Layout.astro";

const response = await fetch(import.meta.env.HYGRAPH_ENDPOINT, {
  method: "POST",
  headers: {
    "Content-Type": "application/json",
    Accept: "application/json",
  },
  body: JSON.stringify({
    query: `
        {
          works {
            title
            slug
            mainImage {
              url
              width
              height
            }
          }
        }
      `,
  }),
});
const works = await response.json();
---

<Layout title="">
  <main>
    <section class="p1 top">
      <h1>Projects</h1>
      <p class="p-lg">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus
        dicta similique facere ducimus asperiores! Praesentium enim obcaecati
        perferendis iure eum!
      </p>
    </section>

    <section class="p1">
      <ul>
        {
          works.data.works.map((work) => (
            <li>
              <a href={`/projects/${work.slug}`}>{work.title}</a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Layout>
