---
import Layout from "../../layouts/Layout.astro"

import { getProjects } from "../../utils/sanity";

const projects = await getProjects();
---

<Layout title="">
    <main>
        <h1>Projects</h1>

        {projects.map((project) => (
            <a href={`/projects/${project.slug.current}`}>
                <h3>
                    {project.title}
                    </h3>
                </a>
        ))}
    </main>
</Layout>